<link rel="stylesheet" type = "text/css" href="style.css" >
<h1>Search</h1>
<form action="/bookresult" method = "post">
<label for = "book"> Enter the title for a book you want to look in to: </label>
<input for = "book" type = "text" name = "isbn">
<button>Search</button>
</form>
