<link rel="stylesheet" type = "text/css" href="style.css" >
<div id = "center">
<h1>Search</h1>
<div class = "searchbar">
<form action="/bookresult" method = "post">
<label for = "book"> Enter the title for a book you want to look in to: </label>
<input for = "book" type = "text" name = "isbn" required >
<button>Search</button>
</form>
</div>
</div>
